:root {
    --primary-color: #1976d2; /* MUI primary blue */
    --secondary-color: #dc004e; /* MUI secondary red */
    --text-color: #333;
    --background-color: #f5f5f5;
    --font-family: "Roboto", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  
  body {
    display: flex;
    flex-direction: column;
    max-width: 100vw; 
    overflow-x: hidden; 
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  