# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/


#data 
/data

#database
/database


# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#vscode
/.vscode
auth-logs.json

# project logs
/auth-logs.json

/storage
auth-logs-backup.json
src/configurator/data/datafromBackend.json
curl (1).ps1

# local app storage (screenshots, exports, etc.)
/storage/
