@import "tailwindcss";

#root {
    width: 80%;
    align-items: center;
    margin: auto;
}

/* In your global CSS file or in your tailwind config */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
